p
    | ID: #{id}
    br
    | Username:
    input(type="text" value=username name="username")
    br
    | Email:
    input(type="email" value=email name="email")
    br
    input(type="file" value=file name="file")
img(src=baseUrl + path)