p
    | ID: #{id}
    br
    | Username:
    input(type="text" value=username name="username" class='input')
    br
    | Email:
    input(type="email" value=email name="email" class='input')
    br
    input(type="file" value=file name="file")
img(src=path)